loglevel: info
replicas: %{replicas}

ratelimit:
  join: ${ratelimit_join}
  auth: ${ratelimit_auth}
  reset: ${ratelimit_reset}
  redis:
    username: ${redis_username}
    password: ${redis_password}
    database: ${redis_database}
    sentinel: ${redis_sentinel}
    addresses:
      - ${redis_address}
    master: ${redis_master}

twitch:
  user: ${twitch_username}
  oauth: ${twitch_oauth}

nats:
  url: ${nats_url}
  stream: ${nats_stream}
  topic:
    raw: ${nats_irc_raw}
    api: ${nats_bot_api}

mongo:
  connectionstring: ${mongo_uri}
  database: ${mongo_database}
  collection: ${mongo_collection}
  username: ${mongo_username}
  password: ${mongo_password}

health:
  enabled: false
  port: 0

prometheus:
  enabled: false
  port: 0
